*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header And Nav Bar  */
#header{
    margin: 0px 0px 0px 25px;
    border: solid;
    width: 18%;
    height: 110px;
}

.nav{
    margin: 20px 300px;
    border: solid;
    width: 80%;
    height: 110px;
    text-align: center;
}

a{
    color: black;
    font-size: small;
    font-family: 'Arial';
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
    text-decoration: none;
}

iframe{
    width: 99vw;
    height: 50vw;
}

li{
    display: inline;
}

